
.buttons {
	height: 63vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#clickAbleSVG{
	height: 100%;
	width: 100%;
}

#ColorPatern{
    background: none;
    border: 0;
    cursor: pointer;
    width: 5em;
	height: 5em;
	margin-right: 1%;
}

.BtnRandomPat{
	background: #F32C2C;
	color: white;
	border: 4px solid #F32C2C;
	border-radius: 10px;
	font-size: 1em;
	padding: 1em 1em;
	position: relative;
	z-index: 1;
	cursor: pointer;
	margin-left: 1%;
}