html, body{
    margin : 0;
    padding : 0;
}

.BlocCapture{
    height: 67vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.TextPicker{
    color: white;
    font-size: 1.5em;
    font-family: lato;
    margin: 2%;
}

#ScreenShot{
    background: #F32C2C;
	color: white;
	border: 4px solid #F32C2C;
	border-radius: 10px;
	font-size: 1.2em;
	padding: .8em 2em;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

/*//////////////////////////////////////////////

Postion de la cover

/////////////////////////////////////////////*/

.Wrapper{
    position: absolute;
    top: -2.5vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.AlbumContainer{
    position: absolute;
    width:25vw;
    height:25vw;
}

.AlbumEtape{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    overflow: hidden;
}

#AlbumCapture{
    width: 100%;
    height: 100%;
}

@keyframes moveAndSpin {
    from {
      transform: rotate(360deg) translateX(0%);
    }
    to {
      transform: rotate(0deg) translateX(0%);
    }
}

@keyframes slide-right-to-left {
    from {
      transform: translateX(-5%);
    }
    to {
      transform: translateX(-27%);
    }
  }

#vinyle{
    width: 25%;
    position: absolute;
    right: 0;
    top: 22vh;
    animation: moveAndSpin 2s linear forwards 1.5;
}

.Vinyle{
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -10;
    animation: slide-right-to-left 3s ease-in-out forwards;
}




