html, body{
    margin : 0;
    padding : 0;

}

.BlocCapture{
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

#ScreenShot{
    background: #F32C2C;
	color: white;
	border: 4px solid #F32C2C;
	border-radius: 10px;
	font-size: 1.2em;
	padding: 1em 2em;
	position: relative;
	z-index: 1;
	cursor: pointer;
	transition: all 0.5s;
}

.CaptureRef{
    display: block;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.Wrapper{
    position:absolute;
    top:-2.5vh;
    left:-0.5vw;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.AlbumContainer{
    position:absolute;
    width:25vw;
    height:25vw;
}

.AlbumEtape{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}

#AlbumCapture{
    width: 100%;
    height: 100%;
}



