html, body{
    margin : 0;
    padding : 0;

}


.AlbumText {
    position: absolute;
    width: 25%;
    height: 50%;
    left: 37.5%;
    top: 22%;
    opacity: 1;
    overflow: hidden;
}

.Text{
    display: flex;
    height: 68vh;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.TitreAlbum{
    color: white;
    font-size: 1.5em;
    font-family: lato;
}